---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: string;
}

const { 
  title,
  description = "Venture Studio based in Helsinki working with Founders worldwide.",
  image = "/images/share.jpg",
  canonicalURL = Astro.url.href,
  type = "website"
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Venture Studio based in Helsinki working with Founders worldwide." />
    <meta name="viewport" content="width=device-width" />
    
    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />
    
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link 
      rel="preload" 
      href="/fonts/ABCDiatype-Medium.woff2" 
      as="font" 
      type="font/woff2" 
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white">
    <slot />
  </body>
</html>